.map {
	.container {
		@extend %container;

		&__card {
			@include pos (absolute, $top: 0, $left: 50%, $bottom: 0);
			transform: translate(-50%);
		}
	}

	// .map__map-box
	&__map-box {
		display: none;

		@include media (md) {
			@include wh (420px, 470px);
			background-color: $primaryColor;
			@include border (1px, solid, $secondaryColor);
			@include flex ($flex-direction: column);
			padding: 50px 30px;
			margin-top: 20px;
		}
	}
}